In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("insurance_regression.csv")

In [3]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
columns = ['age', 'sex', 'bmi', 'children', 'smoker', 'region']
target = 'charges'

In [5]:
X = data[columns]
y = data[target]

In [6]:
X.head(2)

   age     sex    bmi  children smoker     region
0   19  female  27.90         0    yes  southwest
1   18    male  33.77         1     no  southeast

In [7]:
X_dummies = pd.get_dummies(X)

In [8]:
X_dummies.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,0,0,1,0,0,0,1
1,18,33.770,1,0,1,1,0,0,0,1,0
2,28,33.000,3,0,1,1,0,0,0,1,0
3,33,22.705,0,0,1,1,0,0,1,0,0
4,32,28.880,0,0,1,1,0,0,1,0,0

In [9]:
X_final = X_dummies.drop(['sex_male', 'smoker_no'], axis=1)

In [10]:
X_final.head()

,age,bmi,children,sex_female,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,1,0,0,0,1
1,18,33.770,1,0,0,0,0,1,0
2,28,33.000,3,0,0,0,0,1,0
3,33,22.705,0,0,0,0,1,0,0
4,32,28.880,0,0,0,0,1,0,0

In [11]:
from sklearn.linear_model import LinearRegression # linear regression

In [12]:
from sklearn.model_selection import train_test_split # split dataset

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X_final, y, test_size = 0.4, random_state = 42)

In [14]:
model = LinearRegression()

In [15]:
model.fit(X_final, y)

LinearRegression()

In [16]:
import joblib

In [17]:
filename = 'finalized_model.sav'
joblib.dump(model, filename)

['finalized_model.sav']

In [18]:
loaded_model = joblib.load(filename)
result = loaded_model.score(X_test, y_test)
print(result)

0.764322015392708

In [19]:
!pip install pipreqs

Requirement already satisfied: pipreqs in c:\users\mis\anaconda3\envs\paeng_working\lib\site-packages (0.4.11)
Requirement already satisfied: docopt in c:\users\mis\anaconda3\envs\paeng_working\lib\site-packages (from pipreqs) (0.6.2)
Requirement already satisfied: yarg in c:\users\mis\anaconda3\envs\paeng_working\lib\site-packages (from pipreqs) (0.1.9)
Requirement already satisfied: requests in c:\users\mis\anaconda3\envs\paeng_working\lib\site-packages (from yarg->pipreqs) (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mis\anaconda3\envs\paeng_working\lib\site-packages (from requests->yarg->pipreqs) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\mis\anaconda3\envs\paeng_working\lib\site-packages (from requests->yarg->pipreqs) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mis\anaconda3\envs\paeng_working\lib\site-packages (from requests->yarg->pipreqs) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\mis\anaconda3\envs\paeng_working\lib\site-packages (from requests->yarg->pipreqs) (1.26.8)

In [20]:
!pipreqs

INFO: Successfully saved requirements file in C:\Users\MIS\www\jupyter-sample\requirements.txt